@font-face {
  font-family: 'fipps';
  src: url('fipps.otf');
}
@font-face {
  font-family: 'pixelmix';
  src: url('pixelmix.ttf');
}

/** Reset & core **/
* {
  font-weight: normal !important;
}
h1 {
  font-family: 'fipps';
}
*, *:after, *:before {
  box-sizing: border-box;
  // Disable text selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Show default cursor to avoid it looking like text is seelctable
  cursor: default;
}
html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #000;
  color: #fff;
  font-family: 'pixelmix';
}
img {
  border: 0;
}
.hide {
  display: none;
}

/** Canvas config **/
$width: 100%;
$height: 100%;

canvas {
  /** We want nearest neighbor stretching (pixelated) for all canvas elements **/
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.content {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.hud {
  z-index: 200;
}

#burningtomato {
  $height: 505px;
  height: $height;
  top: 50%;
  margin-top: -($height / 2) - 50;
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#mainmenu {
  .connecting {
    margin-bottom: 50px;
    color: yellow;
  }

  .background-video, .video-texture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
  }
  .background-video {
    opacity: 0.8;
  }
  .video-texture {
    background-image: url('pixelator.png');
    background-repeat: repeat;
    z-index: 600;
  }
  .content {
    z-index: 750;

    h1 {
      color: darkorange;
      text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
    }
    h2 {
      color: #fff;
      font-size: 16px;
      margin-top: 0;
    }

    .section {
      height: 50%;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      padding: 20px;
      color: #fff;
      margin-top: 50px;
    }

    .options {
      .opt {
        font-size: 24px;
        padding: 25px;
        display: block;
        width: 50%;
        margin: 0 auto;
        color: #ccc;
        border: 1px solid #000;

        &.active {
          border: 1px solid #aaa;
          color: #fff;
        }
      }
    }
  }
}

.lobby {
  .player {
    background: rgb(20, 20, 20);
    padding: 20px;
    text-align: left;
    width: 50%;
    margin: 0 auto;

    &.p1 h2 {
      color: red !important;
    }
    &.p2 h2 {
      color: yellow !important;
    }
    &.p3 h2 {
      color: blue !important;
    }
    &.p4 h2 {
      color: green !important;
    }
  }
}

#go, #uded {
  text-align: center;
  padding: 20px;
  font-size: 36px;
}

#log {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 25px;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}